{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "airbnb/hooks", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "jsx-a11y/html-has-lang": "off",
    "react/jsx-filename-extension": "off",
    "no-plusplus": "off"
  }
}
