{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-rational-order",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "order/properties-order": [],
    "plugin/rational-order": [true, {
      "empty-line-between-groups": true
    }]
  }
}
